<!DOCTYPE html>
<html lang="en">
        <head>
                <!-- Les feuilles de style doivent etre dans static/style -->
                <link rel="stylesheet" href="/static/style/style.css" />
                <title>{% block title %}BASE HTML{% endblock %}</title>
        </head>

        <body>
            <header>
                {% block header %}{% endblock %}
            </header>
            <nav></nav>
                <div id="content">
                {% block content %}{% endblock %}
                </div>
            <footer>
                {% block footer %}{% endblock %}
            </footer>
        </body>
</html>
