{% extends "tmpl/fex/base.html" %}

{% block header %}
    <h1> LISTE DES UTILISATEURS </h1>
{% endblock %}
{% block content %}


    <table border=1>
        {% for obj in objs %}
        {# Each "obj" is a model object. #}
        <tr>
            <td>{{ obj.codusr|upper }}</td><td>{{ obj.nomusr|upper }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
    <span class="step-links">
    {% if objs.has_previous %}
    <a href="?page={{ objs.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
    Page {{ objs.number }} of {{ objs.paginator.num_pages }}.
    </span>

    {% if objs.has_next %}
    <a href="?page={{ objs.next_page_number }}">next</a>
    {% endif %}
    </span>
    </div>
    <br />
{% endblock %}
